/* Zerar margens padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* HEADER COM LOGO + MENU */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

/* LOGO PEQUENA E REDONDA */
.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

/* MENU SUPERIOR */
.menu a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

/* HERO COM BANDEIRA */
.hero {
    background-image: url("bandeirabrasil.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

/* SEÇÕES DE BAIXO */
.secao {
    padding: 80px 20px;
    background: #f2f2f2;
    border-bottom: 2px solid #ddd;
}

.secao h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.secao p {
    font-size: 18px;
}
