* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Arial Narrow', sans-serif;
}

/* MENU */
header {
  background: white;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

nav {
  text-align: center;
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

/* HERO */
.hero {
  width: 100%;
  height: 100vh;
  background-image: url("hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  text-align: center;
  color: black;
}

.overlay h1 {
  font-size: 70px;
  font-weight: 400;
}

.overlay h2 {
  font-size: 50px;
  margin-top: -10px;
  font-weight: 300;
  letter-spacing: 2px;
}

/* SOBRE */
.sobre-section {
  width: 100%;
  padding: 60px 5%;
}

.sobre-section h2 {
  font-size: 34px;
  font-weight: 700;
  border-bottom: 2px solid #000;
  display: inline-block;
  margin-bottom: 30px;
}

.sobre-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.sobre-texto {
  width: 60%;
  font-size: 32px;
  line-height: 1.3;
}

.sobre-img {
  width: 33%;
  border-radius: 6px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.15);
}

/* REDES SOCIAIS */
.redes-section {
  width: 100%;
  padding: 60px 5%;
}

.redes-section h2 {
  font-size: 34px;
  font-weight: 700;
  border-bottom: 2px solid #000;
  display: inline-block;
  margin-bottom: 40px;
}

.redes-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.redes-col {
  width: 45%;
}

.rede-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 35px;
}

.rede-icon {
  width: 38px;
}

.rede-titulo {
  font-size: 22px;
  font-weight: bold;
}

.rede-desc {
  font-size: 20px;
  margin-top: 4px;
}
